<html>
<head>
    <link href= "/stylesheet/style.css" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-image  : url(https://i.pinimg.com/originals/5d/21/05/5d21052d1cabc63dff0e55ebae532623.jpg)">
<div id="welcome">
<h1> WELCOME TO THE QUOTATION PAGE <i class="fa fa-spinner"></i> </h1>
<hr style="width : 50%; align=center;">
<a href="/content" class="btn btn-primary">VIEW QUOTATION</a>
</div>

<ul id="back">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>


<% include layout/footer %>
