<% include ../layout/header %>

<form action="/content/<%= data.id %>?_method=put" method="post">
  <div class="form-group">
    <label></label>
    <input type="text" class="form-control" value="<%= data.quote%>" name="edit[quote]">
  </div>

  <div class="form-group">
    <label></label>
    <input type="text" class="form-control" value="<%=data.image%>" name="edit[image]">
  </div>
  <div class="form-group">
    <label></label>
    <textarea class="form-control" name="edit[description]"><%= data.description %></textarea>
    </div>
  <button type="submit" class="btn btn-primary">EDIT</button>
</form>

<% include ../layout/footer %>
